<!DOCTYPE html>
<html>
<head>
    <title>发新帖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>发帖</h1>
    <form method="post" enctype="multipart/form-data">
        作者: <input type="text" name="author"><br>
        标题: <input type="text" name="title"><br>
        内容:<br>
        <textarea name="content" rows="8" cols="50"></textarea><br>
        图片: <input type="file" name="image" accept="image/*"><br><br>
        <input type="submit" value="发布">
    </form>
</body>
</html>
